#message {
	padding: 10px;
	background: white;
	border-color: #F7F7F7;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
	box-shadow: #C2C2C2 0 2px 2px 0;
	overflow: hidden;
	text-align: center;
}
